.custom-style{
    height: 450px;
    border-radius: 50px;
    background-color: rgba(255, 249, 74, 0.515);
}

.custom-style:hover{
    box-shadow: 0 5px 10px black;
}
.custom-style img{
    width: 150px;
    height: 150px;
    margin: 10px auto;
}
